{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ]
  },
  "parserOptions": {
    "parser": "@babel/eslint-parser",
    "babelOptions": {
      "parserOpts": {
        "plugins": [
          "jsx"
        ]
      }
    },
    "requireConfigFile": false
  }
}